<nav class="px-4 py-4 bg-white border-b border-gray-300">
  <a href="{{ .Site.BaseURL }}" class="text-sm flex items-center space-x-1 hover:text-indigo-800">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 stroke-current" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <path d="M12 9v12m-8 -8a8 8 0 0 0 16 0m1 0h-2m-14 0h-2" />
      <circle cx="12" cy="6" r="3" />
    </svg>
    <span>Home</span>
  </a>
</nav>